@model RES.Query.Query_models.Personalviewmodel

			<aside class="sidebar" data-simplebar>
				<div>
					<div class="avatar-wrap">
						<svg class="avatar avatar--180" viewBox="0 0 188 188">
							<g class="avatar__box">
					<image xlink:href="@Url.Content("~/img/"+@Model.Image)" height="100%" width="100%" />
							</g>
						</svg>
					</div>
					<div class="text-center">
						<h7>@Model.Name</h7>
						<div class="badge badge--gray">@Model.Expertise</div>

						<!-- Social -->
						<div class="social">
							<a class="social__link" href="https://www.facebook.com/"><i class="font-icon icon-facebook"></i></a>
							<a class="social__link" href="https://www.behance.com/"><i class="font-icon icon-twitter"></i></a>
							<a class="social__link" href="https://www.linkedin.com/"><i class="font-icon icon-linkedin2"></i></a>
						</div>
					</div>

					<ul class="contact-block">
						<li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Birthday">
							<i class="font-icon icon-calendar2"></i> @Model.BrithdatDateTime
						</li>
						<li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Address">
							<i class="font-icon icon-map-pin"></i>@Model.Adress
						</li>
						<li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="E-mail">
							<a href="mailto:example@mail.com"><i class="font-icon icon-mail"></i>@Model.Email</a>
						</li>
			 
						<li class="contact-block__item" data-toggle="tooltip" data-placement="top" title="Skype">
							<a href="skype:skype-example"><i class="font-icon icon-skype"></i>@Model.skype</a>
						</li>
					</ul>
				</div>
				<a class="btn" asp-controller="FileController1" asp-action="DownloadFile"><i class="font-icon icon-download"></i> Download CV</a>
			</aside>
